/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 body {
     /* IE10 Consumer Preview */
     background-image: -ms-radial-gradient(center, circle farthest-corner, #3498DB 0%, #0C2333 100%);

     /* Mozilla Firefox */
     background-image: -moz-radial-gradient(center, circle farthest-corner, #3498DB 0%, #0C2333 100%);

     /* Opera */
     background-image: -o-radial-gradient(center, circle farthest-corner, #3498DB 0%, #0C2333 100%);

     /* Webkit (Safari/Chrome 10) */
     background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #3498DB), color-stop(1, #0C2333));

     /* Webkit (Chrome 11+) */
     background-image: -webkit-radial-gradient(center, circle farthest-corner, #3498DB 0%, #0C2333 100%);

     /* W3C Markup, IE10 Release Preview */
     background-image: radial-gradient(circle farthest-corner at center, #3498DB 0%, #0C2333 100%);
 }
.container {
    width: 980px;
    background: rgba(255,255,255,0.5);
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;

}
header .container {
    padding: 15px 15px;
    background: url("http://www.customtoronto.ca/img/headbg.gif");
    border-radius: 20px;
    border:2px dashed #ffffff;
    margin-top: 15px;
}

header .logo {
    float: left;
    width: auto;

}
header nav {
    float: right;
}

header .logo a {
    text-decoration: none;
    color: #fcfffa;
    text-shadow: -4px 5px 5px #000;
    line-height: 2.4em;
    font-size: 2.4em;
    font-family: Arial, Helvetica sans-serif;
}
header .logo a:hover {
    text-shadow: 0 0 10px #fff;
    font-size: 2.4em;
    color: #ffffff;
}
header  nav ul {
    padding: 15px;

}
header nav ul li {
    display: inline-block;
    margin: 0px 20px;
}
header nav ul li a {
    text-decoration: none;
    color: #fff;

}
header nav ul li a:hover {
    padding: 8px;
    background-color: rgba(225, 241, 255, 0.57);
    border-radius: 3px;

}
header nav ul li .active {

}
section .container {
    margin-top: 20px;
    border-radius: 20px;
    background-color: #f1f1f1;

}
h1 {
    font-size: 22px;
    color: #555;
    font-family: sans-serif;
}
.icon-list-bullet {
    color: #555;
    font-size: 16px;
}
section div ul {
    list-style: none;
}
section div ul li a{
    text-decoration: none;
    color: #555;
}
.loader {
    text-align: center;
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 50px auto;
    background: black;
    border-radius: 50px;
    -webkit-animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.9s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
@-webkit-keyframes loader {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -webkit-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        opacity: 0.1;
        -webkit-transform: translateY(-21px);
    }
}
@-moz-keyframes loader {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -moz-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        opacity: 0.1;
        -moz-transform: translateY(-21px);
    }
}
.wrapper {
    margin: 50px auto;
    width: 280px;
    height: 370px;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
    position: relative;
    z-index: 90;
}
.wrapper2 {
    width: 174px;
    height: 240px;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
    position: relative;
    z-index: 90;
    display: inline-block;
    margin-top: 50px;
}
.products {
    height: 700px;
    width: 80%;
    margin: 0 auto;
}
.ribbon-wrapper-green {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}
#list {
    width: 480px;
    height: 340px;
    z-index: 2;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #F9FAFB;
    box-shadow: 6px 6px 2px rgba(141, 131, 122, 0.64);
    position: relative;
    display: block;
    text-align: left;
}
#list header {
    height: 38px;
    background-color: rgba(87, 76, 66, 1);
    padding-top: 10px;
    line-height: 0em;
    display: block;
}
#list header p {
    color: #ffffff;
    font-family: Verdana;
    padding-left: 15px;
    font-size: 18px;
}
form {
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
}
label {
    display: block;
    color: #718090;
    padding-top: 10px;
}
#list-name {
    display: block;
    width: 95%;
    border-radius: 2px;
}


.ribbon-green {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top:   3px solid #6e8900;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 0;
}
.ribbon-green:after {
    right: 0;
}

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?64093725');
    src: url('../font/fontello.eot?64093725#iefix') format('embedded-opentype'),
    url('../font/fontello.woff?64093725') format('woff'),
    url('../font/fontello.ttf?64093725') format('truetype'),
    url('../font/fontello.svg?64093725#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?64093725#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
   /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-home:before { content: '\e809'; } /* '' */
.icon-th-list:before { content: '\e806'; } /* '' */
.icon-th:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e80c'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-th-large:before { content: '\e804'; } /* '' */
.icon-list-bullet:before { content: '\e812'; } /* '' */
.icon-list-numbered:before { content: '\e811'; } /* '' */
.icon-angle-left:before { content: '\e80d'; } /* '' */
.icon-angle-right:before { content: '\e80e'; } /* '' */
.icon-angle-up:before { content: '\e80f'; } /* '' */
.icon-angle-down:before { content: '\e810'; } /* '' */
.icon-info:before { content: '\e80a'; } /* '' */
.icon-attention-alt:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
    .container{
        width: 85%;
        font-size: 13px;
        height: 150px;
    }
    section .container {
        height: 80px;
    }
    header .logo {
       float: none;
       display: block;
       text-align: center;
    }
    header nav {
      float: none;
      display: block;
    }
    header nav ul {
        padding: 0;
    }
    header nav ul li {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .loader {
        display: none;
    }
    .wrapper {
        width: 232px;
        height: 300px;
    }
     h1 {
        font-size: 18px;
    }

        /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {

    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    .container{
        width: 80%;
        font-size: 12px;
        height: 150px;
    }
    section .container {
        height: 80px;
    }
    header .logo {
        float: none;
        display: block;
        text-align: center;
    }
    header nav {
        float: none;
        display: block;
    }
    header nav ul {
        padding: 0;
    }
    header nav ul li {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .loader {
        display: none;
    }
    .wrapper {
        width: 170px;
        height: 220px;
    }
    h1 {
        font-size: 18px;
    }
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
    .container{
        width: 85%;
        font-size: 13px;
        height: 150px;
    }
    section .container {
        height: 80px;
    }
    header .logo {
        float: none;
        display: block;
        text-align: center;
    }
    header nav {
        float: none;
        display: block;
    }
    header nav ul {
        padding: 0;
    }
    header nav ul li {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .wrapper {
        width: 232px;
        height: 300px;
    }
    h1 {
        font-size: 18px;
    }
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
    .container{
        width: 85%;
        font-size: 13px;
        height: 150px;
    }
    section .container {
        height: 80px;
    }
    header .logo {
        float: none;
        display: block;
        text-align: center;
    }
    header nav {
        float: none;
        display: block;
    }
    header nav ul {
        padding: 0;
    }
    header nav ul li {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .wrapper {
        width: 232px;
        height: 300px;
    }
    h1 {
        font-size: 18px;
    }
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
