#header {
       width: 60%;
       height: 200px;
       margin: 10px auto;
       background: -webkit-gradient(linear, left top, left bottom, from(#45b987), to(#123697));
       border-radius: 50px
}
#base {
       background-color: aliceblue;
       width: auto;
       height: 1000px;
       margin: -10px;
}
#main {

}
#footer {
    width: 60%;
    height: 50px;
    background-color: mediumpurple;
    border: 1px none;
    border-radius: 50px;
    margin: auto;
    position: relative;

}
a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 150px 80px 1px 100px;
    border: 1px solid lightskyblue;
    padding: 10px;
    border-radius: 20px;
    background-color: steelblue;
}
 p {
    text-align: center;
     color: white;
     padding-top: 15px;
}
