#header {
        width: 60%;
        height: 200px;
        margin: auto ;
        background: -webkit-gradient(linear, left top, left bottom, from(#45b987), to(#123697));


}
#base {

}
#main {

}
footer {

}