#header {
        width: 70%;
        height: 200px;
        margin: auto ;
        background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000));

}
#base {

}
#main {

}
footer {

}