#header {
       width: 60%;
       height: 200px;
       margin: auto ;
       background: -webkit-gradient(linear, left top, left bottom, from(#45b987), to(#123697));
       border-radius: 50px
}
#base {

}
#main {

}
footer {

}
.menu {
    display: inline-block;
    border; 1px solid blue;
    width:10%;
    hight: 20px''
}