#header {
        background-image:url(http://fc07.deviantart.net/fs45/f/2009/061/c/8/I__m_so_happy____by_Hanyou_at_Heart.jpg);
        width: 65%;
        height: 1700px;
}
#base {

}
#main {

}
footer {

}